.jumbotron {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  
  // slide
  
  // body {
  //   margin: 0;
    
  //   font-family: cursive;
  // }
  // h1{
  //   margin: 0;
  //   padding: 2em;
  //   text-align: center;
  //   color: #CADB57;
  // }
  // #slider {
  //   position: relative;
  //   width: 1255px;
  //   height: 800px;
   
  // //   border-radius: 12px;
  //   margin: 0 auto;
  //   overflow: hidden;
  // }
  
  // .slide_img {
  //   position: absolute;
  //   margin: 0;
  //   opacity: 0;
  //   animation: mymove 24s infinite;
  //   -moz-animation: mymove 24s infinite;
  //   -webkit-animation: mymove 24s infinite;
  // }
  
  // figcaption {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: -26px;
    
  //   margin: 0;
    
  //   text-align: center;
  // }
  
  // @keyframes mymove {
  //   10% {
  //     opacity: 1;
  //   }
  //   33% {
  //     opacity: 1;
  //   }
  //   45% {
  //     opacity: 0;
  //   }
  // }
  
  // .slide_img:nth-child(0) {
  //   animation-delay: 5s;
  // }
  
  // .slide_img:nth-child(1) {
  //   animation-delay: 10s;
  // }
  
  // .slide_img:nth-child(2) {
  //   animation-delay: 16s;
  // }
  
  
  
  
  // .snip1336 {
  //   font-family: 'Roboto', Arial, sans-serif;
  //   position: relative;
  //   overflow: hidden;
  //   margin: 10px;
  //   min-width: 230px;
  //   max-width: 315px;
  //   width: 100%;
  //   color: #ffffff;
  //   text-align: left;
  //   line-height: 1.4em;
  //   background-color: #141414;
  // }
  // .snip1336 * {
  //   -webkit-box-sizing: border-box;
  //   box-sizing: border-box;
  //   -webkit-transition: all 0.25s ease;
  //   transition: all 0.25s ease;
  // }
  // .snip1336 img {
  //   max-width: 100%;
  //   vertical-align: top;
  //   opacity: 0.85;
  // }
  // .snip1336 figcaption {
  //     display: inline-block;
  //   width: 100%;
  //   background-color: #141414;
  //   padding: 25px;
  //   position: relative;
  // }
  // .snip1336 figcaption:before {
  //   position: absolute;
  //   content: '';
  //   bottom: 100%;
  //   left: 0;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 55px 0 0 400px;
  //   border-color: transparent transparent transparent #141414;
  // }
  // .snip1336 figcaption a {
  //   padding: 5px;
  //   border: 1px solid #ffffff;
  //   color: #ffffff;
  //   font-size: 0.7em;
  //   text-transform: uppercase;
  //   margin: 10px 0;
  //   display: inline-block;
  //   opacity: 0.65;
  //   width: 47%;
  //   text-align: center;
  //   text-decoration: none;
  //   font-weight: 600;
  //   letter-spacing: 1px;
  // }
  // .snip1336 figcaption a:hover {
  //   opacity: 1;
  // }
  // .snip1336 .profile {
  //   border-radius: 50%;
  //   position: absolute;
  //   bottom: 100%;
  //   left: 25px;
  //   z-index: 1;
  //   max-width: 90px;
  //   opacity: 1;
  //   box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  // }
  // .snip1336 .follow {
  //   margin-right: 4%;
  //   border-color: #2980b9;
  //   color: #2980b9;
  // }
  // .snip1336 h2 {
  //   margin: 0 0 5px;
  //   font-weight: 300;
  // }
  // .snip1336 h2 span {
  //   display: block;
  //   font-size: 0.5em;
  //   color: #2980b9;
  // }
  // .snip1336 p {
  //   margin: 0 0 10px;
  //   font-size: 0.8em;
  //   letter-spacing: 1px;
  //   opacity: 0.8;
  // }
  
  // body {
  // background-color: #FFF;
  // }
  // .grande {
  // width: 280px;
  // height: auto;
  // position: absolute;
  // top: 8px;
  // left: 74px;
  // margin-bottom: 10px;
  // -webkit-border-radius: 5px;
  // -moz-border-radius: 5px;
  // border-radius: 5px;
  // }
  // .mini {
  // width: 48px;
  // /**height: 48px;**/
  // padding: 5px;
  // margin-bottom: 5px;
  // border: #BEBEBE solid 1px;
  // -webkit-border-radius: 5px;
  // -moz-border-radius: 5px;
  // border-radius: 5px;
  // }
  
   
  
  // fuji
  
  body {
    font-family: 'Poor Story', cursive;
   
  }
  
  .wrapper {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  }
  // .fuji {
  //   background: #fff;
  //   padding: 1rem;
  //   box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    
  // }
  .fuji > img{
    max-width: 100%;
    height: auto;
  }
  .caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
  }
  .item {
    width: 30%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
  }
  .item .fuji:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+1) .fuji:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .item:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+2) .fuji:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .item:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+4) .fuji:before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .item:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+3) .fuji:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .item:hover .fuji:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.35s;
  }
  
  
  
  
  
  
  